@import 'abstracts/functions';
@import 'abstracts/mixins';
@import 'abstracts/variables';

@import 'base/base';
@import 'base/animations';
@import 'base/typography';
@import 'base/utilities';

@import 'components/buttons';
@import 'components/icons';

@import 'layout/navbar';

@import 'pages/home';



/* introduction */
.span{
    margin-left: 12px;
}
.introduction {
    display: flex;
    flex-direction: column;

    &__info {
        margin-left: 15px;
    }
}
.buttons-container{
    margin-left: 15px;
    margin-top: 10px;
}





