$color-primary: #032927;
$text-primary-color: #dddddd;
$gold-primary: #A47E1B;

*,
*::after,
*::before {
    background-color: $color-primary;
    color: $text-primary-color;
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    max-width: 1200px;
    min-height: 100vh;
    margin: 0 auto;
    background-color: $color-primary;
    color: $text-primary-color;
}

section {
    padding: 100px 0;
}

.btn {
    background-color: $color-primary;
    border: 1px solid $gold-primary;
    color: $gold-primary;
    border-radius: 25px;
    &:hover {
        background-color: $gold-primary;
        color: $color-primary;
    }
}



/* introduction */
.span{
    color: $gold-primary;
    margin-left: 12px;
}
.introduction {
    display: flex;
    flex-direction: column;
    &__welcome {
        font-size: 100px;
        
    }

    &__info {
        margin-left: 15px;
    }
}
.buttons-container{
    margin-left: 15px;
    margin-top: 10px;
}



/* about */

.about {


    &__name {}

    &__info {
        text-transform: capitalize;
    }
}

/* navbar */
.navbar{
    margin: 20px 0;

    &-brand {
        color: $gold-primary;
    }
    
    &-nav {
        color: $text-primary-color;
    }

}


.nav-link {
    color: $text-primary-color;

    &:hover {
        color: $gold-primary;
    }
}


.active {
    color: $text-primary-color !important;
    text-decoration: underline;

    &:hover{
        color: $gold-primary!important;
    }
}