@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  background-color: #032927; }

section {
  padding: 100px 0; }

*,
*::after,
*::before {
  color: #dddddd;
  font-family: 'Roboto', sans-serif; }

body {
  color: #dddddd;
  font-family: 'Roboto', sans-serif; }

.about__info {
  text-transform: capitalize; }

.introduction__welcome {
  font-size: 120px;
  font-weight: 100; }

.introduction__info {
  font-weight: 300; }

.span {
  color: #A47E1B; }

/* navbar */
.navbar-brand {
  color: #A47E1B; }

.navbar-nav {
  color: #dddddd; }

.nav-link {
  color: #dddddd; }
  .nav-link:hover {
    color: #A47E1B; }

.active {
  color: #dddddd !important;
  text-decoration: underline; }
  .active:hover {
    color: #A47E1B !important; }

.btn {
  color: #A47E1B; }
  .btn:hover {
    color: #032927; }

/* projects  */
/* projects */
.projects__body {
  font-weight: 600;
  font-size: 15px; }

.projects__title, .projects__technologies, .projects__date,
.projects__text li {
  color: #032927; }

.projects__github__links {
  text-decoration: none;
  color: #032927; }

.btn {
  background-color: #032927;
  border: 1px solid #A47E1B;
  border-radius: 25px;
  padding: 10px 15px; }
  .btn:hover {
    background-color: #A47E1B; }

.projects__github__links {
  padding: 5px 0; }

/* navbar */
.navbar-toggler {
  z-index: 1; }

.navbar {
  position: relative;
  top: 40px; }
  .navbar-nav {
    width: 30vw;
    justify-content: space-evenly; }

.hero {
  width: 50vw;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0; }
  .hero__image {
    width: 50vw;
    height: 100vh;
    border-radius: 10px;
    z-index: 0; }

.hero-container {
  display: flex;
  min-height: 68vh; }

.introduction-container {
  z-index: 2; }

/* projects */
.projects {
  display: flex;
  justify-content: space-between; }
  .projects__outer {
    width: fit-content; }
  .projects__container {
    border: 1px solid;
    width: 18rem;
    padding: 30px;
    border-radius: 20px;
    margin-bottom: 40px;
    background-color: #6a998b; }
  .projects__image {
    border: 1px solid;
    height: 150px;
    width: 18rem;
    border-radius: 15px; }
  .projects__card {
    width: 290px !important;
    height: 150px; }
  .projects__body {
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; }
  .projects__list-container {
    display: flex;
    height: 12vh;
    width: 90%;
    justify-content: space-between; }
  .projects__title {
    margin: 5px 0; }
  .projects__date-technologies {
    height: 42px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between; }
  .projects__github {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 42px; }

@media screen and (max-width: 1199px) {
  .projects {
    justify-content: space-evenly; } }

/* introduction */
.span {
  margin-left: 12px; }

.introduction {
  display: flex;
  flex-direction: column; }
  .introduction__info {
    margin-left: 15px; }

.buttons-container {
  margin-left: 15px;
  margin-top: 10px; }
