.hero {
    width: 50vw;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;

    &__image {
        width: 50vw;
        height: 100vh;
        border-radius: 10px;
        z-index: 0;
    }
}

.hero-container {
    display: flex;
    min-height: 68vh;
}

.introduction-container {
    z-index: 2;
}
